.gly{
  margin: 15px 0 0 10px;
}
.juma{
  text-align: center;
  background: #CDCDC1;
  background-size: cover;
  margin:-20px;
  height: 170px;
}
.bbba{
  margin-top:-40px; 
  font-size: 20px;
}
.ccca{
  margin: 20px;
}
.ddda{
  height: 30px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
