.gly{
	margin: 15px 0 0 10px;
}
.jumb{
  text-align: center;
  background: #CDCDC1;
  background-size: cover;
  margin:-20px;
  height: 260px;
}
.cccb{
  margin: 20px;
}
.dddb{
  height: 30px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
.abbb{
  float: left;
}
.abbb h3{
  line-height: 35px;
}
.abbb p{
  line-height: 35px;
}
.accb{
  float: right;
}